.col-12 {
  width: 100%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-11 {
  width: 91.66666667%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-10 {
  width: 83.33333333%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-9 {
  width: 75%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-8 {
  width: 66.66666667%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-7 {
  width: 58.33333333%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-6 {
  width: 50%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-5 {
  width: 41.66666667%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-4 {
  width: 33.33333333%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-3 {
  width: 25%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-2 {
  width: 16.66666667%;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-1 {
  width: 8.33333333%;
  float: left;
  min-height: 1px;
  position: relative;
}
.offset-12 {
  margin-left: 100%;
}
.offset-11 {
  margin-left: 91.66666667%;
}
.offset-10 {
  margin-left: 83.33333333%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-8 {
  margin-left: 66.66666667%;
}
.offset-7 {
  margin-left: 58.33333333%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-5 {
  margin-left: 41.66666667%;
}
.offset-4 {
  margin-left: 33.33333333%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.offset-1 {
  margin-left: 8.33333333%;
}
.hcol-1 {
  float: left;
  width: 300px;
  min-height: 1px;
}
.hcol-2 {
  width: 520px;
  float: left;
  margin-left: 10px;
}
.hcol-3 {
  width: 350px;
  float: left;
}
#slider-img img {
  height: 340px;
}
#recommend_title {
  text-align: center;
  font-size: 16px;
}
#recommend_title a {
  color: #ff0000;
}
#recommend_content {
  margin: 10px 0;
  line-height: 1.5;
}
#recommend_list li {
  line-height: 2;
}
#recommend_list li .type {
  color: #999999;
}
#recommend_list li .date {
  color: #999999;
  float: right;
  font-size: 12px;
}
#declaration form {
  background: url("/assets/images/front/cb_222.png");
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  border-radius: 4px;
  color: #ffffff;
}
#declaration form textarea {
  height: 45px;
}
#declaration form .panel:before,
#declaration form .panel-body:before,
#declaration form .form-group:before,
#declaration form .panel:after,
#declaration form .panel-body:after,
#declaration form .form-group:after {
  content: " ";
  display: table;
}
#declaration form .panel:after,
#declaration form .panel-body:after,
#declaration form .form-group:after {
  clear: both;
}
#declaration form .panel:before,
#declaration form .panel-body:before,
#declaration form .form-group:before,
#declaration form .panel:after,
#declaration form .panel-body:after,
#declaration form .form-group:after {
  content: " ";
  display: table;
}
#declaration form .panel:after,
#declaration form .panel-body:after,
#declaration form .form-group:after {
  clear: both;
}
#declaration form .form-group {
  margin-bottom: 15px;
}
#declaration form .panel-heading {
  border-bottom: 1px dotted #ffffff;
}
#declaration form .btn {
  width: 90%;
}
.col-main-title {
  font-size: 20px;
  border-bottom: 1px dotted #999999;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.col-main-title:before,
.col-main-title:after {
  content: " ";
  display: table;
}
.col-main-title:after {
  clear: both;
}
.col-main-title:before,
.col-main-title:after {
  content: " ";
  display: table;
}
.col-main-title:after {
  clear: both;
}
.col-main-title a {
  font-size: 14px;
  margin-top: 12px;
  color: #ff5370;
}
.col-side-title {
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.col-cotent .col-nav ul li {
  line-height: 2;
  font-size: 16px;
  margin-left: 5px;
}
.col-cotent .col-nav ul li a {
  color: #999999;
}
#hui .col-main-title {
  line-height: 1.8;
}
#hui .col-main-title .main-title {
  background: url("/assets/images/front/hui.png") no-repeat right bottom;
  width: 95px;
}
#ask .col-main-title .main-title {
  background: url("/assets/images/front/doctor_small.png") no-repeat right bottom;
  width: 125px;
  height: 40px;
  line-height: 2.5;
}
#diary .col-main-title .main-title {
  background: url("/assets/images/front/notebook.png") no-repeat right bottom;
  width: 125px;
  height: 40px;
  line-height: 2.5;
}
.doctor-ask {
  text-align: center;
  border: 1px solid #ececec;
  padding: 20px;
}
.doctor-ask p {
  margin-bottom: 10px;
  line-height: 1.5;
}
.col-side-cotent {
  float: right;
}
.col-side-cotent ol li {
  margin-bottom: 10px;
  line-height: 1.8;
}
.col-side-cotent ol li:before,
.col-side-cotent ol li:after {
  content: " ";
  display: table;
}
.col-side-cotent ol li:after {
  clear: both;
}
.col-side-cotent ol li:before,
.col-side-cotent ol li:after {
  content: " ";
  display: table;
}
.col-side-cotent ol li:after {
  clear: both;
}
.col-side-cotent ol li .num {
  display: inline-block;
  text-align: center;
  background-color: #ff5370;
  border-radius: 4px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #ffffff;
  font-size: 12px;
}
.col-side-cotent .doctor-online dt {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
}
.col-side-cotent .doctor-online dd {
  margin: 20px 0;
}
.col-side-cotent .doctor-online dd:before,
.col-side-cotent .doctor-online dd:after {
  content: " ";
  display: table;
}
.col-side-cotent .doctor-online dd:after {
  clear: both;
}
.col-side-cotent .doctor-online dd:before,
.col-side-cotent .doctor-online dd:after {
  content: " ";
  display: table;
}
.col-side-cotent .doctor-online dd:after {
  clear: both;
}
.col-side-cotent .doctor-online dd .face {
  text-align: center;
}
.col-side-cotent .doctor-online dd .face img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.col-side-cotent .doctor-online dd .doctor-name {
  margin-left: 20px;
}
.col-side-cotent .doctor-online dd .doctor-hospital {
  margin-left: 20px;
  margin-top: 10px;
}
.col-side-cotent .doctor-online dd .doctor-hospital a {
  color: #999999;
}
.diary-item {
  margin-bottom: 20px;
}
.diary-item li {
  margin: 0 8px 10px 0;
  float: left;
}
.diary-item li a {
  display: block;
  background-color: #fe5e79;
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 12px;
  padding: 4px 11px;
  border-radius: 4px;
  font-weight: 600;
  line-height: 20px;
  font-family: "幼圆";
}
