RewriteEngine   on

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule	^dm/(\d+)$			index.php/controller/dm/detail?dmid=$1&%1 [L]

RewriteCond	%{REQUEST_FILENAME}	!-f
RewriteCond	%{REQUEST_FILENAME}	!-d
RewriteCond	%{THE_REQUEST}		!^(.*)/assets(.*)$
RewriteRule	^(.*)$			index.php/controller/$1 [L]
