@import "common/common.less";

.prompt {
  background: url("@{admin-img}/bg-10.jpg");
  text-align: center;
  .box{
    width: 30%;
    margin: 10% auto 0;
    background-color: #DFD5CC;
    padding: 15px;
    border-radius: 4px;
    .box-title{
      font-size: 40px;
    }
    .box-footer{
      margin-top: 20px;
      .btn{
        width: 80%;
      }
    }
  }
}